<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

    <!-- Разрешаем работу с документами "на месте" -->
    <key>LSSupportsOpeningDocumentsInPlace</key>
    <true/>

    <!-- Тип документа приложения -->
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>ShowMarker Project</string>

            <key>LSHandlerRank</key>
            <string>Owner</string>

            <key>LSItemContentTypes</key>
            <array>
                <string>com.peterpluz.showmarker.smark</string>
            </array>
        </dict>
    </array>

    <!-- Экспорт собственного UTType -->
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>com.peterpluz.showmarker.smark</string>

            <key>UTTypeDescription</key>
            <string>ShowMarker Project</string>

            <!-- ВАЖНО: это package -->
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.package</string>
            </array>

            <!-- ВАЖНО: система должна считать это пакетом -->
            <key>UTTypeIsPackage</key>
            <true/>

            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>smark</string>
                </array>
            </dict>
        </dict>
    </array>

</dict>
</plist>
